/*
!/.gitignore
!/alacritty
!/amethyst
!/aquaproj-aqua
!/dunst
!/espanso
!/git
!/i3
!/i3status-rust
!/karabiner
!/libskk
!/mise
!/nvim
!/pypoetry
!/regolith
!/rofi
!/sh
!/starship.toml
!/wezterm
!/zsh
!/zsh-abbr
