[core]
  autocrlf = input
  ignorecase = false
  pager  = delta
  safecrlf = true
  quotepath = false
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0
[init]
  defaultBranch = main
[push]
  default = simple
  useForceIfIncludes = true
[color]
  ui = auto
[alias]
  a = add
  au = add -u
  aa = add --all
  ap = add --patch
  b = branch -a
  br = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  c = commit
  cv = commit -v
  cm = commit --message
  d = diff
  ds = diff --staged
  l = log -3
  pf = push --force-with-lease --force-if-includes
  pu = push -u origin HEAD
  s = status
  sa = status --untracked-files=all
  x = stash --include-untracked
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  sw = switch
  rstr = restore --staged
  rmc = rm --cached
  gone = "!git fetch --all --prune && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
  sync-dev = "!git fetch origin dev:dev"
  sync-main = "!git fetch origin main:main"
  sync-develop = "!git fetch origin develop:develop"
[merge]
  ff = false
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  colorMoved = zebra
[pull]
  ff = only
[delta]
  line-numbers = true
[user]
  email = 33191176+arumakan1727@users.noreply.github.com
  name = arumakan1727
[include]
  path = ~/.gitconfig.d/private.gitconfig
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
