[core]
  autocrlf = input
  ignorecase = false
  pager  = delta
  safecrlf = true
  quotepath = false
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0
[init]
  defaultBranch = main
[push]
  default = simple
  useForceIfIncludes = true
[color]
  ui = auto
[alias]
  # NOTE: I use snippets more than this git alias.
  # See also: ~/.config/zsh/zeno/config.yml
  b = branch -a
  br = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  l = log -3
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  root = rev-parse --show-toplevel
  rmc = rm --cached
  gone = "!git fetch --all --prune && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
  sync-dev = "!git fetch origin dev:dev"
  sync-main = "!git fetch origin main:main"
  sync-develop = "!git fetch origin develop:develop"
[commit]
  verbose = true
[merge]
  ff = false
[fetch]
  prune = true
[rebase]
  autosquash = true
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  ; colorMoved = zebra
[pull]
  ff = only
[delta]
  line-numbers = true
[include]
  path = ~/.gitconfig.d/private.gitconfig
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
